.header {
	grid-area: h;
	background-image: url("https://images.unsplash.com/photo-1586176420512-7a66ffb3d235?ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80");
	background-color: #ccc;
	/* background-repeat: no-repeat, repeat; */
}

.header img {
	width: 50px;
}

.loginBlock {
	float: right;
	color: #1DA1F2;
	background-color: #ccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
}

.loginBlock a {
	color: white;
}
