.nav {
	grid-area: n;
	/* background-color: #20b6e1; */
	/* padding: 20px; */
	border-right: 1px solid #AAB8C2;
	height: 1000px;
}

.item {
	background-color: white;
	text-align: left;
}
.item:hover {
	color: #1DA1F2;
}

.item a {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	color: #14171A;
	text-decoration: none;
	font-size: 25px;
	vertical-align: middle;
}
.item a:hover {
	color: #1DA1F2;
}

.item a.activeLink {
	color: #1DA1F2;
}



.friendsList {
	margin-top: 30px;
	text-align: center;
}
.friendsList a {
	font-size: 20px;
}
.friendsList .friend {
	width: 50px;
}
.friendsList .friend img{
	/*margin-left: 50px;*/
	height: 50px;
	width: 50px;
	display: block;
	border-radius: 50%;
}
.friendsList .friend a {
	margin-bottom: 10px;
	font-size: 16px;
	display: block;
}

.friendsList .friends {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}